.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userPage h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.userPage p {
    font-size: 18px;
    margin: 5px 0;
}

/* Buttonları hizalayarak ve aralarına boşluk ekleyerek düzenleme */
.buttonContainer {
    display: flex;
    justify-content: center;  /* Butonları yatayda ortalar */
    flex-wrap: wrap;  /* Butonların taşmasını engeller ve satırı aşarsa alta alır */
    gap: 20px;  /* Butonlar arasındaki boşluğu artırır */
    margin-top: 20px;  /* Buton grubunun üstten boşluğu */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Her butona ek olarak margin ekleyerek arayı açar */
}

.editButton {
    background-color: #007bff;
    color: white;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
}

.logoutButton {
    background-color: #28a745;
    color: white;
}

.editButton:hover {
    background-color: #0056b3;
}

.deleteButton:hover {
    background-color: #c82333;
}

.logoutButton:hover {
    background-color: #218838;
}
