/* HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.buttons a:hover {
    background-color: #0056b3;
}
